@using TAM.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<KorisnikUlogaVM>

<h1>Uloge</h1>
<table class="table table-hover">
    <thead class="card-header">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Uloge</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>

                    <button class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModalCenter" onclick="Uredi('@user.UserId')">
                        Uredi
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div id="forma" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    function Uredi(userId) {
        $.get("/AdministratorModul/Uloge/Upravljanje?userId=" + userId, function (res) {
            $("#forma").html(res);
        })
    }
</script>