@using Microsoft.AspNetCore.Identity
@using TAM.Core
@using TAM.ViewModels
@inject SignInManager<KorisnickiRacun> SignInManager
@inject UserManager<KorisnickiRacun> UserManager
@{
    var Action = TempData["action"].ToString();
    var NazivTeksta = TempData["nazivTeksta"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
    string korisnikId = "";
    if (SignInManager.IsSignedIn(User))
    {
        var korisnik = @UserManager.FindByNameAsync(User.Identity.Name).Result;
        korisnikId = korisnik.Id;
    }
    TempData["korisnikId"] = korisnikId;
}

@model ObavijestDodajVM

<form asp-action="@Action" asp-controller="Obavijesti">
    <div class="card-header" style="padding:1rem 0rem">
        @if (@NazivTeksta == "Potvrda")
        {
            <h5 class="modal-title" id="exampleModalLongTitle">@NazivTeksta</h5>
        }
        else
        {
            @if (Model.Id == 0)
            {
                <h5>Dodaj</h5>
            }
            else
            {
                <h5>Uredi</h5>
            }
        }
    </div>
    <br />
    <input asp-for="Id" value="@Model.Id" hidden />
    <input asp-for="Dodaj" value="@Model.Dodaj" hidden />
    @if (@NazivTeksta != "Potvrda")
    {
        <div class="form-group">
            <label for="Naslov">Naslov:</label>
            <input asp-for="Naslov" value="@Model.Naslov" type="text" class="form-control mb-3"
                   style="width: 40%"/>
            <span asp-validation-for="Naslov" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="KategorijaObavijestiId">Kategorija obavijesti:</label>
            <select asp-for="KategorijaObavijestiId" asp-items="Model.KategorijaObavijesti"
                    class="form-control" style="width: 40%"></select>
        </div>
        <div class="form-group">
            <label for="Sadrzaj">Sadrzaj:</label>
            <textarea asp-for="Sadrzaj" value="@Model.Sadrzaj" rows="7" cols="50" class="form-control mb-3"></textarea>
            <span asp-validation-for="Sadrzaj" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary float-right" value="Spremi" />
    }
    else
    {
        <div class="form-group">
            <label for="Naslov"><strong>Jeste li sigurni da želite izbrisati ovaj zapis?</strong></label>
            <input asp-for="Naslov" value="@Model.Naslov" type="text" class="form-control mb-3" disabled />
        </div>
        <input type="submit" class="btn btn-danger float-right" value="Obrisi" />
    }


</form>