
@{
    ViewData["Title"] = "Dodaj";
    var Action = TempData["action"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OrganizacijaDodajVM 

<form asp-action="@Action" asp-controller="Organizacije">
    <div class="modal-header" style="padding:1rem 0rem">
        @if (!Model.Uredi)
        {
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj</h5>
        }
        else
        {
            <h5 class="modal-title" id="exampleModalLongTitle">Uredi</h5>
        }
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
    <div class="form-group" hidden>
        <label for="Kurs.Id">Kurs:</label>
        <input asp-for="@Model.Kurs.Id" value="@Model.Kurs.Id" type="text" class="form-control mb-3" readonly />
        <span asp-validation-for="Kurs" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Kurs.Naziv">Kurs:</label>
        <input asp-for="@Model.Kurs.Naziv" value="@Model.Kurs.Naziv" type="text" class="form-control mb-3" readonly />
        <span asp-validation-for="Kurs" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PredavacId">Predavac: </label>
        <select asp-for="PredavacId" asp-items="@Model.Predavaci" class="form-control mb-3"></select>
        <span asp-validation-for="Predavaci" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DatumPocetka">Datum i vrijeme pocetka: </label>
        <input asp-for="@Model.DatumPocetka" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control mb-3" />
        <span asp-validation-for="DatumPocetka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DatumZavrsetka">Datum zavrsetka: </label>
        <input asp-for="@Model.DatumZavrsetka" type="date" class="form-control mb-3" />
        <span asp-validation-for="DatumZavrsetka" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary float-right" value="Spremi" />
</form>