@{
    var Action = TempData["action"].ToString();
    var Controller = TempData["controller"].ToString();
    var NazivTeksta = TempData["nazivTeksta"].ToString();   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SelectListItem



<form asp-action="@Action" asp-controller="@Controller">
    <div class="modal-header" style="padding:1rem 0rem">
        @if (Model.Value == "0")
        {
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj</h5>
        }
        else
        {
            <h5 class="modal-title" id="exampleModalLongTitle">Uredi</h5>
        }
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
    <input asp-for="Value" value="@Model.Value" hidden />
    <label for="Text">@NazivTeksta</label>
    <input id="Naziv" asp-for="Text" value="@Model.Text" type="text" class="form-control mb-3" onkeyup="validateEntry()"/>
    <input type="submit" class="btn btn-primary float-right" value="Spremi" />
</form>
<script>

    var naziv = $("#Naziv");
    var validate = document.createElement('span');
    validate.setAttribute('class', 'text-danger');
    var submit = false;

    function validateEntry() {

        if (naziv.val() == "" || naziv.val() == undefined) {

            validate.innerHTML = "Obavezno polje!";
            naziv.after(validate);
            submit = false;
        }
        else if (naziv.val().length < 4) {

            validate.innerHTML = "Naziv mora sadržavati minimalno 4 karaktera.";
            naziv.after(validate);
            submit = false;
        }
        else {
            $('.text-danger').remove();
            submit = true;
        }
    }

    $("form").submit(function () {

        validateEntry();
        if (submit)
            return true;
        else
            return false;
    });

</script>