@{
    var Naslov = TempData["naslov"].ToString();
    var UrlUredi = TempData["urlUredi"].ToString();
    var UrlDodaj = TempData["urlDodaj"].ToString();
    var UrlObrisi = TempData["urlObrisi"].ToString();
    var Naslov2 = ViewData["Title"].ToString();
    var Controller = ViewData["Controller"].ToString();
    var Akcija = ViewData["Action"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model cloudscribe.Pagination.Models.PagedResult<SelectListItem>

<br />
<br />
<br />
<form asp-action="@Naslov2" method="get">
    <div>
        <input type="text" name="pretrazivanje" value="@ViewBag.CurrentFilter" placeholder="Pretrazi" />
        <button type="submit" value="Search"><i class="fa fa-search"></i></button>
    </div>
</form>

<br />
@if (TempData["deleted"] != null)
{
    <div id="alert" class="alert alert-success" role="alert">
        @TempData["deleted"].ToString()
        <button type="button" class="close" aria-label="Close" onclick="remove(this)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["successAdd"] != null)
{
    <div id="alert" class="alert alert-success" role="alert">
        @TempData["successAdd"].ToString()
        <button type="button" class="close" aria-label="Close" onclick="remove(this)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["successUpdate"] != null)
{
    <div id="alert" class="alert alert-success" role="alert">
        @TempData["successUpdate"].ToString()
        <button type="button" class="close" aria-label="Close" onclick="remove(this)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table id="Table" class="table table-striped">
    <thead class="card-header">
        <tr align="center">
            <th>@Naslov</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr align="center">
                <td>@item.Text</td>
                <td>
                    <button class="btn btn-info" onclick="AjaxForma(@item.Value, '@UrlUredi')"
                            data-toggle="modal" data-target="#exampleModalCenter">
                        Uredi
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter"
                            @* onclick="location.href='@UrlObrisi?Id=@item.Value'">*@
                            onclick="AjaxForma(@item.Value, '@UrlObrisi')">
                        Obrisi
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-dark float-right" onclick="AjaxForma(0, '@UrlDodaj')"
        data-toggle="modal" data-target="#exampleModalCenter">
    Dodaj
</button>

<ul>
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
</ul>
@Html.Partial("_ModalPartial")

<script>
    function AjaxForma(Id, Url, del) {
        var url = Url + "?Id=" + Id;
        $.get(url, function (res) {
            $("#forma").html(res);
        });
    }

    function remove(el) {
        $(el).parent().remove();
    }

    setTimeout(function () {
        if ($('#alert').length > 0) {
            $('#alert').remove();
        }
    }, 3000)
</script>


